.carousel-img{
    height: 65vh;
    width: 100vw;
    object-fit: cover;
}
.container,
.contacts {
    width: 65%;
    align-items: left;
    margin: 0;
    padding-left: 50px;
}
.contacts {
    display: block;
    margin-bottom: 5%;
}
.about-title {
    width: 60%;
    margin-top: -12%;
    font-family: Open Sans, sans-serif;
}
.afis{
    padding-top: 3%;
}
.benefits {
    width: 65%;
    margin: 0;
    padding-right: 10%;
    margin-left: 40%;
}
.benefits-title {
    display: block;
    width: 40%;
    margin-top: 50px;
}

/* Initial hidden state */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0); 
}

.fas {
    display: none;
}

#carouselExampleCaptions {
    margin-top: -150px;
}

#project-sites-nav {
    display: none;
}

@media screen and (max-width: 992px) {
    #body-content{
        margin-top: -120px;
    }
    .carousel-img{
        height: 50vh;
        margin-top: 150px !important;
    }
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 90px;
    }
    .about-title {
        display: none;
    }
    .afis {
        margin-top: -45%;
        padding: 10% 7%;
        padding-bottom: 0;
    }
    .bnfts {
        padding: 5%;
        padding-bottom: 0;
    }
    .contacts {
        width: 100%;
        padding-bottom: 50px;
        padding-left: 10%;
    }
    .benefits,
    .benefits-title{
        width: 100%;
        margin: 0;
        padding-left: 5%;
    }

    .about-title,
    .benefits-title,
    .contacts-title {
        margin-top: 5%;
    }
    .carousel-caption h4 {
        font-size: 16px;
    }
    .carousel-caption p {
        font-size: 12px;
    }
    .fade-in {
        opacity: 1;
        transform: translateY(0);
        transition: none; 
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-top: 150px !important;
    }
}

@media (max-width: 500px) {
    .navbar-custom {
        display: none !important;
    }

    #project-sites-nav {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        position: fixed;
        top: 0;
        width: 100%;
        height: 8vh; 
        background-color: var(--primary-color); 
        z-index: 1000;
        padding: 0 1rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    }

    #project-sites-title {
        flex: 1; 
        text-align: center; 
        font-size: 24px;
        font-weight: 600;
        color: var(--tertiary-color);
        margin: 0;
    }

    .container {
        margin-top: 10px !important;
    }
}